body{
    border: 0px;
    text-align: center;
    background-color: rgb(63, 63, 63);
    color: aliceblue;
}
input{
    margin-top: 6px;
}
.beleza{
    height: 200px;
    float: left;
    padding-left: 100px;
}
.calculadora{
    height: 200px;
    float: right;
    padding-right: 100px;
}